RewriteEngine on
RewriteRule ^/?test\.html$ test.php [L]
RewriteRule ^/?affiliates$ affiliates.php [L]
RewriteRule ^/?affiliates/(.*)$ affiliates.php?id=$1 [L]
RewriteRule ^/?home$ index.php [L]
RewriteRule ^/?products$ products.php [L]
RewriteRule ^/?orders$ orders.php [L]
RewriteRule ^/?orders/([0-9]*)$ orders.php?id=$1 [L]
RewriteRule ^/?logout$ logout.php [L]
RewriteRule ^/?settings$ settings.php [L]
RewriteRule ^/?manufacturers$ manufacturers.php [L]
RewriteRule ^/?manufacturers/(.*)$ manufacturers.php?id=$1 [L]
RewriteRule ^/?galleries$ galleries.php [L]
RewriteRule ^/?reports$ reports.php [L]
RewriteRule ^/?salesReports$ salesReports.php [L]
RewriteRule ^/?tags$ tags.php [L]
RewriteRule ^/?tags/(.*)$ tags.php?id=$1 [L]
RewriteRule ^/?content$ content.php [L]
RewriteRule ^/?catalogue$ catalogue.php [L]
RewriteRule ^/?misc$ misc.php [L]
RewriteRule ^/?help$ help.php [L]
RewriteRule ^/?content/([0-9]+)$ content.php?contentId=$1 [L]
RewriteRule ^/?content/add$ content.php?add=1 [L]
RewriteRule ^/?editArea/([a-zA-Z0-9\ ]+)/([0-9]+)/([0-9]+)/([a-zA-Z0-9\ ]+)$ editArea.php?what=$1&currentCatalogueId=$2&id=$3&name=$4 [L]
RewriteRule ^/?catalogueEditArea/([a-zA-Z0-9\ ]+)/([0-9]+)$ editArea.php?what=$1&id=$2 [L]
RewriteRule ^/?galleryEditArea/([a-zA-Z0-9\ ]+)/([0-9]+)$ editArea.php?what=$1&id=$2 [L]
RewriteRule ^/?orderEditArea/([a-zA-Z0-9\ ]+)/([0-9]+)$ editArea.php?what=$1&id=$2 [L]
RewriteRule ^/?products/([1-9]+)$ products.php?productId=$1 [L]